<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Catalog</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Book Catalog</h1>

    <% if (books.length === 0) { %>
        <p>No books available</p>
    <% } else { %>
        <ul>
            <% books.forEach((book) => { %>
                <li>
                    <strong>Title:</strong> <%= book.title %><br>
                <strong>Author:</strong> <%= book.author %><br>
                <strong>Year:</strong> <%= book.year %><br>
                <strong>Genre:</strong> <%= book.genre %><br>
                <strong>Description:</strong> <%= book.description %><br>
                <strong>Page Count:</strong> <%= book.pageCount %><br>
                <strong>Language:</strong> <%= book.language %><br>
                <strong>ISBN:</strong> <%= book.isbn %><br>
                <a href="/editBook?id=<%= encodeURIComponent(book.id) %>">Edit</a>

                    
                        <form action="/deleteBook" method="POST">
                        <input type="hidden" name="id" value="<%= encodeURIComponent(book.id) %>">
                        <button type="submit">Delete</button>
                    </form>
                    
                    
                    
                    
                </li>
            <% }); %>
        </ul>
    <% } %>

    <a href="/addBookForm" class="addButton">Add New Book</a>

</body>
</html>
