<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link rel="stylesheet" href="/styles/editFormStyle.css">
</head>
<body>
    <h1>Edit Book</h1>
    <form action="/editBook" method="POST">
        <input type="hidden" name="id" value="<%= book.id %>">
        
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= book.title %>" required><br><br>
        
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="<%= book.author %>" required><br><br>
        
        <label for="year">Published Year:</label>
        <input type="number" id="year" name="year" value="<%= book.year %>" min="1000" max="9999"><br><br>

      
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" value="<%= book.genre %>"><br><br>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description"><%= book.description %></textarea><br><br>
        
        <label for="pageCount">Page Count:</label>
        <input type="number" id="pageCount" name="pageCount" value="<%= book.pageCount %>"><br><br>
        
        <label for="language">Language:</label>
        <input type="text" id="language" name="language" value="<%= book.language %>"><br><br>
        
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" value="<%= book.isbn %>"><br><br>

    
        <button type="submit">Update Book</button>
    </form>
</body>
</html>
